.navbar-custom{
	background-color: #2c3e50;
}

.navbar-dark .navbar-nav .nav-link{
	color: #ffffff;
}
.jumbotron{
	background-color: #ecf0f1;
}

#carrusel-home{
	background-color: #685D5D;
}

h5{
color: #A4A4A4;
}
